<section class="partener-1 bluebg">
    <div class="container">
        <div class="fh-partner clearfix">
            <div class="list-item slide-partener">
                <div class="partner-item">
                    <div class="partner-content">
                        <a href="#" target="_self"> <%=image_tag "partner-4.png"%> </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="partner-content">
                        <a href="#" target="_self"> <%=image_tag "partner-3.png"%> </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="partner-content">
                        <a href="#" target="_self"> <%=image_tag "partner-2.png"%> </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="partner-content">
                        <a href="#" target="_self"> <%=image_tag "partner.png"%> </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="partner-content">
                        <a href="#" target="_self"> <%=image_tag "Fertilizers.png"%> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
